<div>
    <div class="w3-container w3-blue w3-card">
        <h1>
            <a href="#" onclick="document.ctrl.init().render()">
                <i class="fa fa-arrow-left"></i>
            </a>
            Delete a Book
        </h1>
    </div>
    <br>
    <form class="w3-card app-centred-container">
        {title}<br><br>
        <button onclick="document.ctrl.on_save().render()" class="w3-btn w3-ripple w3-blue w3-border-blue">Delete</button>&nbsp;
        <button onclick="document.ctrl.init().render()" class="w3-btn w3-white w3-border">Cancel</button><br>
        <p id="message"></p>
    <form>
</div>